<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>
<form action="/transaction" method="POST">
    <p><input type="text" name="senderName">
    <p><input type="text" name="senderPass">
    <p><input type="text" name="count">
    <p><input type="text" name="nameTo">
    <p><input type="submit" name="submit" value="send"></p>
</form>
</body>
</html>